.insertionSort {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
  .CardsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
}